*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 20px;
    /* padding-block: 20px; */
}

nav div ul {
    display: flex;
    /* margin: 10px; */
    gap: 20px;
    align-items: center; 
}

nav div ul li a{
    color: gray;
    text-decoration: none;
    line-height: 90px;
}

nav div ul li{
    list-style-type: none;
}

nav div ul li:hover:not(img #not-underlined){ 
    border-bottom: 3px solid black; 
} 

button{
    background-color: rgb(40, 95, 246);
    border-radius: 5px;
    border: 0;
    color: white;
    padding: 10px;
}

button:hover{
    opacity: 75%;
}

.blue-background{
    background-color: rgb(185, 207, 229);
    padding-block: 30px;
}

.dropbox-presentation{
    width: 70%;
    margin: 0 auto;
    /* margin-block: 40px;  */
}

.dropbox-presentation h1{
    font-size: 60px;
    /* margin-bottom: 40px; */
}

.dropbox-presentation div p{
    color: black;
    margin-bottom: 30px;
    padding-top: 40px;
    font-size: 13px;
    line-height: 140%;
}

.container{
    display: flex;
}

.container div:first-child{
    width: 30%;
}

.container div:last-child {
    position: relative;
    width: calc(100% - 30%);
}

.container:nth-child(2) div img{
    position: absolute;
    top: 40px;
    object-fit: contain;
    display: flex;
    width: 90%;
}

.container div div a{
    color: gray;
    text-decoration: none;
}

.container div div a:hover{
    border-bottom: 1px solid black; 
}

.container div div{
    padding-block: 20px;
}

.container div svg{
    height: 40px;
}

.large-container{
    width: 60%;
    margin: 0 auto;
}

.container-flex{
    display: flex;
    gap: 20px;
    justify-content: center;
}

.large-container h2{
    margin-bottom: 30px;
    font-size: 30px;
}

.large-container .purchase-methods{  
    display: flex;
    gap: 30px;
    align-items: center;
    margin-bottom: 20px;
}

.large-container .purchase-methods .choice{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
}

.large-container .purchase-methods .choice-one{
    border: 4px solid rgb(40, 95, 246);
}

.large-container .purchase-methods .choice-two{
    border: 1px solid gray; 
}

.large-container .card{ 
    width: calc(100% / 3);
    border: 1px solid lightgrey; 
}

.margin-top{
    margin-top: 150px;
}

.large-container .card .top-card, .large-container .large-card .top-card{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    gap: 5px;
}

.main-card{
    padding: 0 20px 20px 20px;
}

.main-card ul li{
    list-style-type: none;
    margin-bottom: 10px;
    font-size: 10px; 
}

.main-card button{
    font-size: 10px;
    width: 100%;
    margin-block: 20px;
}

.main-card h3{
    margin-block: 20px;
}

.main-card .cost{
    margin-bottom: 10px;
    font-size: 10px;
}

.main-card .per-month{
    color: gray;
    margin-bottom: 50px;
    font-size: 10px;
}

.purchase-now{
    font-size: 10px;
}

.keypoints-title{
    font-size: 10px;
    margin-bottom: 20px;
}

.icon-filled-blue{
    fill: rgb(40, 95, 246);
}

.main-card hr{
    margin-block: 20px;
    width: 20%; 
    color: lightgray;
}

.card hr{
    color: lightgrey;
}

.large-container .card .top-card span{
    font-size: 15px;
}

.large-card{
    margin-top: 30px;
    border: 1px solid lightgray;
}

.large-card .main-card div p{
    margin-top: 30px;
}

.large-card .main-card .right-card{
    width: 30%;
}

.large-card .main-card .left-card{
    width: calc(70% - 30px);
}

.large-card .main-card .left-card div, .large-card .main-card .left-card p{
    font-size: 10px;
}

.margin-bottom{
    margin-bottom: 150px;
}

.large-container figure{
    width: 60%;
}

.large-container figure img{
    width: 100%;
}

.large-container .partner-dropbox{
    width: calc(40% - 30px);
    margin-block: 30px;
}

.large-container .partner-dropbox p{
    margin-block: 20px;
    color: gray;
}

#findPartner-buttton{
    padding: 10px;
    background-color: transparent;
    border: 1px solid gray;
    color: gray;
    border-radius: 5px;
}

header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 90px; 
    background-color: white;
    z-index: 999;
}

.mini-article{
    width: calc(100% / 3 - 20px); 
    margin-bottom: 30px;
}

.flex-container-and-wrap{ 
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.mini-article figure{
    width: 100%;
}

.mini-article figure img{
    width: 100%;
    object-fit: contain;
}

.mini-article h3{
    margin-block: 20px; 
}

.mini-article p{
    line-height: 140%;
    color: gray; 
    font-size: 13px;
}

.width-60{
    width: 60%;
}

.large-container .width-60 div {
    margin-block: 40px; 
    font-size: 13px;
}

.huge-container{
    width: 100%;
    /* border: 1px dashed black; */
    display: flex;
    /* margin-top: 60px;  */
}

.company-container{
    width: calc(100% / 3); 
    aspect-ratio: 1/1; 
    /* height: 395.66px; */
    display: flex;
    flex-wrap: wrap; 
    /* border: 1px dashed black; */ 
}

.huge-container .company-container .company {
    width: calc(100% / 2);
    height: calc(100% / 2);
    /* border: 1px dashed black; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.company-container .company svg{
    fill: white;
    height: 50%;    
    width: 50%;    
}

/* bg colors */

#green{
    background-color: #a2d39b;
    border: 10px solid #c3f0bd; 
}

#dark-red{
    background-color: #61082b;
}

#cyan{
    background-color: #0093ce;
}

#bright-red{
    background-color: #ff1c1c;
}

#red{
    background-color: #d5001f;
}

#indaco{
    background-color: #b4d0e7;
}

#blue{
    background-color: #0d2481;
}

#yellow{
    background-color: #ffd830;
}

#gray{
    background-color: rgb(236, 236, 236);
}

.overflow-box{
    padding: 20px;
    overflow: auto;
}

.overflow-box svg{
    width: 60%;
}

.overflow-box hr {
    margin-block: 10px ;
    width: 20%;
}

.display-block{
    display: block;
}

.overflow-box p, .overflow-box div{
    font-size: 12px;
    color: gray;
    margin-top: 20px; 
}

.lightblue-background{
    background-color: #b4d0e7; 
}

.flex-space-between{
    display: flex; 
    justify-content: space-between;
    padding-block: 30px; 
    align-items: center;
}

.flex-space-between h2{
    color: purple;
    width: 50%; 
}

#bring-businessDropbox{
    background-color: rgba(255, 255, 255, 0.5); 
    color: black; 
}

#bring-businessDropbox:hover{
    background-color: rgba(255, 255, 255, 0.5); 
    color: rgb(62, 62, 62);  
}

.large-container .menu{
    width: calc(100% / 5);
}

.large-container .menu ul li{
    list-style-type: none;
    font-size: 12px;
    line-height: 160%;
}

.large-container .menu ul li a{
    text-decoration: none;
    color: lightgray;
}

.large-container .menu h5{
    color: white; 
    margin-bottom: 10px;
}

footer{
    background-color: black; 
    padding-top: 50px; 
    padding-bottom: 20px; 
    margin-top: 70px;
}

.large-container .footer-hr{
    width: 10%;
    color: lightgrey;
    margin-block: 20px;
}

footer .large-container .language{
    font-size: 12px;
    color: rgb(128 128 128);
    line-height: 100%;
}

.separator{
    margin-block: 20px;
}

.faq{
    position: relative;
    margin-block: 45px;
}

.faq svg{
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    margin-block: 20px;
}

.faq .down{
    opacity: 100%;
}

.faq .up{
    opacity: 0%;
}

.faq:hover .down{
    opacity: 0%;
}

.faq:hover .up{
    opacity: 100%;
}

.faq p{
    display: none;
    margin-top: 20px;
    color: gray;
    font-size: 15px;
}

.faq:hover p{
    display: block;
} 

.flex-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

