*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1pz dashed black;
}

html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}

nav{
    display: flex;
    justify-content: space-between;
    padding-inline: 20px;
    padding-block: 20px;
}

nav div ul {
    display: flex;
    margin: 10px;
    gap: 20px;
    align-items: center;
}

nav div ul li a{
    color: gray;
    text-decoration: none;
}

nav div ul li{
    list-style-type: none;
}

nav div ul li:hover{
    border-bottom: 1px solid black; 
}

button{
    background-color: rgb(40, 95, 246);
    border-radius: 5px;
    border: 0;
    color: white;
    padding: 10px;
}

button:hover{
    opacity: 75%;
}

.blue-background{
    background-color: rgb(185, 207, 229);
    padding-block: 30px;
}

.dropbox-presentation{
    width: 70%;
    margin: 0 auto;
    /* margin-block: 40px;  */
}

.dropbox-presentation h1{
    font-size: 60px;
    /* margin-bottom: 40px; */
}

.dropbox-presentation div p{
    color: gray;
    margin-bottom: 30px;
    padding-top: 40px;
    font-size: 13px;
    line-height: 140%;
}

.container{
    display: flex;
}

.container div:first-child{
    width: 30%;
}

.container div:last-child {
    position: relative;
    width: calc(100% - 30%);

}

.container:nth-child(2) div img{
    position: absolute;
    top: 40px;
    object-fit: contain;
    display: flex;
    width: 90%;
}

.container div div a{
    color: gray;
    text-decoration: none;
}

.container div div a:hover{
    border-bottom: 1px solid black; 
}

.container div div{
    padding-block: 20px;
}

.container div svg{
    height: 40px;
}

.large-container{
    width: 60%;
    margin: 0 auto;
}

.large-container h2{
    margin-bottom: 30px;
    font-size: 30px;
}

.large-container:first-child div{ 
    display: flex;
    gap: 30px;
    align-items: center;
    margin-bottom: 20px;
}

.choice{
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.choice-one{
    border: 4px solid rgb(40, 95, 246);
}

.choice-two{
    border: 1px solid gray; 
}

.large-container .card{ 
    width: calc(100% / 3 - 20px);
    padding: 20px;
    border: 1px solid black;
}

.margin-top{
    margin-top: 150px;
}

.large-container .card .top.card{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 5px;
}

.main-card ul li{
    list-style-type: none;
    margin-bottom: 10px;
    font-size: 10px; 
}

.main-card button{
    font-size: 10px;
    width: 100%;
    margin-block: 20px;

}

.main-card h3{
    margin-block: 20px;
}

.main-card .cost{
    margin-bottom: 10px;
    font-size: 10px;
}

.main-card .per-month{
    color: gray;
    margin-bottom: 50px;
    font-size: 10px;
}
